                    html * {
                        box-sizing: border-box;
                    }
                    
                    *:before,
                    *:after {
                        box-sizing: border-box;
                    }
                    
                    body {
                        background-color: #c0e6f0;
                        color: white;
                        font-size: 1.25em;
                        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                        margin-top: 20px;
                    }
                    
                    #wrapper {
                        width: 95%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                    }
                    
                    header {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-around;
                    }
                    
                    #logo {
                        height: 100px;
                        width: 150px;
                    }
                    
                    #title {
                        font-size: 1em;
                    }
                    
                    li {
                        display: inline;
                        font-size: .7em;
                        background-color: #00adef;
                        padding-bottom: 5px;
                        padding-left: 5px;
                        padding-right: 5px;
                        padding-top: 5px;
                    }
                    
                    ul {
                        display: flex;
                        justify-content: space-around;
                    }
                    
                    #main {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        justify-content: center;
                    }
                    
                    #summary {
                        background-color: #00adef;
                        flex-basis: 80%;
                        text-align: center;
                    }
                    
                    #cloud {
                        width: 40%;
                        height: 30%;
                    }
                    
                    #data {
                        background-color: #00adef;
                        flex-basis: 80%;
                        text-align: center;
                    }
                    
                    #hourly {
                        background-color: #00adef;
                        flex-basis: 80%;
                        text-align: center;
                        font-size: .8em;
                    }
                    
                    #wireframes {
                        display: none;
                    }
                    
                    #footer {
                        background-color: #00adef;
                        
                    }
                    
                    @media screen and (min-width: 768px) {
                         #logo{width:170px;
                        height:220px;}
                        
                        #title {
                            font-size: 2em;
                            align-self: center;
                        }
                        li {
                            display: inline;
                            font-size: .9em;
                            background-color: #00adef;
                            padding-bottom: 15px;
                            padding-left: 20px;
                            padding-right: 20px;
                            padding-top: 15px;
                        }
                        ul {
                            display: flex;
                            justify-content: space-around;
                        }
                        #main {
                            display: flex;
                            flex-wrap:wrap;
                            justify-content: space-around;
                            
                        }
                        #summary {
                            background-color: #00adef;
                            flex-basis: 60%;
                        }
                        #cloud {
                            width: 40%;
                            height: 30%;
                        }
                        #data {
                            align-self: flex-end;
                            flex-basis: 60%;
                            
                           
                        }
                        #hourly {
                            background-color: #00adef;
                            flex-basis: 30%;
                            font-size: 1em;
                        }
                        #wireframes {
                            display: flex;
                            flex-wrap: wrap;
                            ;
                            align-items: flex-start;
                            justify-content: space-between;
                        }
                        #mobile {
                            width: 30%;
                            height: 40%;
                        }
                        #medium {
                            width: 30%;
                            height: 40%;
                        }
                        #large {
                            width: 30%;
                            height: 80%;
                        }
                    }
                    
                    @media screen and (min-width: 1033px) {
                         #title {
                            font-size: 3.5em;
                            align-self: center;
                        }
                        li {
                            display: inline;
                            font-size: 1.2em;
                            background-color: #00adef;
                            padding-bottom: 15px;
                            padding-left: 45px;
                            padding-right: 45px;
                            padding-top: 15px;
                            align-self: center;
                        }
                        #logo{width:200px;
                        height:250px;}
                        
                                            
}